<!------
  /------------------
// Big SVG hero Name
//-------------------
//
// If you want to change your name you will have to recreate it
// in Figma or any other way you can export text as SVG
// After you have exported it, you have to remove the size atributes from the SVG
// this will allow the SVG become fill width and full heigh. It will also be responsive.
--- -->
<section class="bg-primary">
  <div
    class="px-8 2xl:max-w-7xl mx-auto pt-12"
    data-aos="fade-up"
    data-aos-duration="2000"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="-45.646893310546886 6.200000000000003 591.2937866210938 137.6"
      style="background: none;"
      preserveAspectRatio="xMidYMid"
      ><defs
        ><filter
          id="editing-lego"
          x="-100%"
          y="-100%"
          width="300%"
          height="300%"
          ><feFlood flood-color="#000" result="f1"></feFlood><feFlood
            flood-color="#0000ff"
            result="f2"></feFlood><feMorphology
            operator="dilate"
            radius="3"
            in="SourceAlpha"></feMorphology><feConvolveMatrix
            order="5,5"
            divisor="1"
            result="cm1"
            kernelMatrix="0 1 1 1 0  1 0 0 0 1  1 0 0 0 1  1 0 0 0 1  0 1 1 1 0"
          ></feConvolveMatrix><feComposite
            operator="in"
            in="f1"
            in2="cm1"
            result="c1"></feComposite><feMorphology operator="dilate" radius="3"
          ></feMorphology><feConvolveMatrix
            order="5,5"
            divisor="1"
            result="cm2"
            kernelMatrix="0 1 1 1 0  1 0 0 0 1  1 0 0 0 1  1 0 0 0 1  0 1 1 1 0"
          ></feConvolveMatrix><feComposite
            operator="in"
            in="f2"
            in2="cm2"
            result="c2"></feComposite><feMerge
            ><feMergeNode in="c2"></feMergeNode><feMergeNode in="c1"
            ></feMergeNode><feMergeNode in="SourceGraphic"
            ></feMergeNode></feMerge
          ></filter
        ></defs
      ><g filter="url(#editing-lego)"
        ><g transform="translate(40.26997685432434, 103.86000061035156)"
          ><path
            d="M12.72 0L12.72-32.40L1.80-32.40L1.80-39.96L32.28-39.96L32.28-32.40L21.48-32.40L21.48 0L12.72 0ZM42.12 0.90L42.12 0.90Q37.32 0.90 34.50-3.18L34.50-3.18L34.50-3.18Q31.68-7.26 31.68-14.28L31.68-14.28L31.68-14.28Q31.68-22.80 36-27.27L36-27.27L36-27.27Q40.32-31.74 48.42-31.74L48.42-31.74L48.42-31.74Q52.98-31.74 59.10-30.30L59.10-30.30L59.10 0L51.06 0L51.24-4.92L51-4.92L51-4.92Q49.44-2.10 47.19-0.60L47.19-0.60L47.19-0.60Q44.94 0.90 42.12 0.90L42.12 0.90ZM43.92-6.48L43.92-6.48Q45.78-6.48 47.58-8.46L47.58-8.46L47.58-8.46Q49.38-10.44 50.94-13.74L50.94-13.74L50.94-23.82L50.94-23.82Q49.02-24.36 47.10-24.36L47.10-24.36L47.10-24.36Q43.50-24.36 41.67-21.90L41.67-21.90L41.67-21.90Q39.84-19.44 39.84-14.64L39.84-14.64L39.84-14.64Q39.84-10.86 40.92-8.67L40.92-8.67L40.92-8.67Q42-6.48 43.92-6.48L43.92-6.48ZM67.32 13.08L67.32-30.90L75.54-30.90L75.36-26.88L75.60-26.88L75.60-26.88Q77.16-29.28 79.41-30.54L79.41-30.54L79.41-30.54Q81.66-31.80 84.54-31.80L84.54-31.80L84.54-31.80Q89.76-31.80 92.73-27.81L92.73-27.81L92.73-27.81Q95.70-23.82 95.70-16.68L95.70-16.68L95.70-16.68Q95.70-8.22 91.29-3.69L91.29-3.69L91.29-3.69Q86.88 0.84 78.72 0.84L78.72 0.84L78.72 0.84Q77.70 0.84 75.66 0.72L75.66 0.72L75.66 13.08L67.32 13.08ZM79.56-6.54L79.56-6.54Q83.34-6.54 85.29-9L85.29-9L85.29-9Q87.24-11.46 87.24-16.20L87.24-16.20L87.24-16.20Q87.24-20.04 86.01-22.23L86.01-22.23L86.01-22.23Q84.78-24.42 82.62-24.42L82.62-24.42L82.62-24.42Q80.70-24.42 78.90-22.77L78.90-22.77L78.90-22.77Q77.10-21.12 75.66-18.06L75.66-18.06L75.66-7.08L75.66-7.08Q77.70-6.54 79.56-6.54L79.56-6.54ZM105.24-36L105.24-43.80L114.90-43.80L114.90-36L105.24-36ZM100.56 0L100.56-7.26L106.32-7.26L106.32-23.64L100.56-23.64L100.56-30.90L114.78-30.90L114.78-7.26L119.94-7.26L119.94 0L100.56 0ZM132.78 2.04L132.78 2.04Q130.26 2.04 128.43 0.21L128.43 0.21L128.43 0.21Q126.60-1.62 126.60-4.14L126.60-4.14L126.60-4.14Q126.60-6.72 128.43-8.55L128.43-8.55L128.43-8.55Q130.26-10.38 132.78-10.38L132.78-10.38L132.78-10.38Q135.36-10.38 137.16-8.55L137.16-8.55L137.16-8.55Q138.96-6.72 138.96-4.14L138.96-4.14L138.96-4.14Q138.96-1.62 137.16 0.21L137.16 0.21L137.16 0.21Q135.36 2.04 132.78 2.04L132.78 2.04ZM152.94 2.04L152.94 2.04Q150.42 2.04 148.59 0.21L148.59 0.21L148.59 0.21Q146.76-1.62 146.76-4.14L146.76-4.14L146.76-4.14Q146.76-6.72 148.59-8.55L148.59-8.55L148.59-8.55Q150.42-10.38 152.94-10.38L152.94-10.38L152.94-10.38Q155.52-10.38 157.32-8.55L157.32-8.55L157.32-8.55Q159.12-6.72 159.12-4.14L159.12-4.14L159.12-4.14Q159.12-1.62 157.32 0.21L157.32 0.21L157.32 0.21Q155.52 2.04 152.94 2.04L152.94 2.04ZM188.58 0.90L188.58 0.90Q183.36 0.90 180.39-3.09L180.39-3.09L180.39-3.09Q177.42-7.08 177.42-14.22L177.42-14.22L177.42-14.22Q177.42-22.68 181.83-27.21L181.83-27.21L181.83-27.21Q186.24-31.74 194.40-31.74L194.40-31.74L194.40-31.74Q195.42-31.74 197.46-31.62L197.46-31.62L197.46-43.80L205.80-43.80L205.80 0L197.58 0L197.76-4.02L197.52-4.02L197.52-4.02Q195.96-1.62 193.71-0.36L193.71-0.36L193.71-0.36Q191.46 0.90 188.58 0.90L188.58 0.90ZM190.50-6.48L190.50-6.48Q192.42-6.48 194.22-8.13L194.22-8.13L194.22-8.13Q196.02-9.78 197.46-12.84L197.46-12.84L197.46-23.82L197.46-23.82Q195.42-24.36 193.56-24.36L193.56-24.36L193.56-24.36Q189.78-24.36 187.83-21.90L187.83-21.90L187.83-21.90Q185.88-19.44 185.88-14.70L185.88-14.70L185.88-14.70Q185.88-10.86 187.11-8.67L187.11-8.67L187.11-8.67Q188.34-6.48 190.50-6.48L190.50-6.48ZM228.12 0.90L228.12 0.90Q220.62 0.90 216.33-3.42L216.33-3.42L216.33-3.42Q212.04-7.74 212.04-15.42L212.04-15.42L212.04-15.42Q212.04-20.40 213.90-24.09L213.90-24.09L213.90-24.09Q215.76-27.78 219.15-29.76L219.15-29.76L219.15-29.76Q222.54-31.74 227.10-31.74L227.10-31.74L227.10-31.74Q233.82-31.74 237.42-27.42L237.42-27.42L237.42-27.42Q241.02-23.10 241.02-14.94L241.02-14.94L241.02-14.94Q241.02-13.56 240.96-12.90L240.96-12.90L220.56-12.90L220.56-12.90Q221.16-9.72 223.32-8.07L223.32-8.07L223.32-8.07Q225.48-6.42 229.14-6.42L229.14-6.42L229.14-6.42Q231.36-6.42 233.76-6.99L233.76-6.99L233.76-6.99Q236.16-7.56 237.96-8.52L237.96-8.52L239.34-1.74L239.34-1.74Q236.94-0.48 234.03 0.21L234.03 0.21L234.03 0.21Q231.12 0.90 228.12 0.90L228.12 0.90ZM220.50-19.26L232.92-19.26L232.92-19.26Q232.74-21.84 231.12-23.37L231.12-23.37L231.12-23.37Q229.50-24.90 226.80-24.90L226.80-24.90L226.80-24.90Q224.22-24.90 222.57-23.40L222.57-23.40L222.57-23.40Q220.92-21.90 220.50-19.26L220.50-19.26ZM254.64 0L243.72-30.78L252.96-31.62L259.80-9.36L266.34-30.90L275.40-30.90L264.54 0L254.64 0ZM279 0L279-7.26L284.46-7.26L284.46-23.64L279-23.64L279-30.90L284.46-30.90L284.46-34.68L284.46-34.68Q284.46-39.18 287.34-41.91L287.34-41.91L287.34-41.91Q290.22-44.64 295.02-44.64L295.02-44.64L295.02-44.64Q298.38-44.64 302.46-42.96L302.46-42.96L299.52-36.30L299.52-36.30Q297.48-37.32 295.86-37.32L295.86-37.32L295.86-37.32Q294.48-37.32 293.70-36.54L293.70-36.54L293.70-36.54Q292.92-35.76 292.92-34.26L292.92-34.26L292.92-30.90L300.12-30.90L300.12-23.64L292.92-23.64L292.92-7.26L300.12-7.26L300.12 0L279 0ZM320.10 0.90L320.10 0.90Q315.42 0.90 311.85-1.14L311.85-1.14L311.85-1.14Q308.28-3.18 306.30-6.87L306.30-6.87L306.30-6.87Q304.32-10.56 304.32-15.42L304.32-15.42L304.32-15.42Q304.32-20.28 306.27-23.97L306.27-23.97L306.27-23.97Q308.22-27.66 311.79-29.70L311.79-29.70L311.79-29.70Q315.36-31.74 320.04-31.74L320.04-31.74L320.04-31.74Q324.72-31.74 328.29-29.73L328.29-29.73L328.29-29.73Q331.86-27.72 333.81-24.06L333.81-24.06L333.81-24.06Q335.76-20.40 335.76-15.60L335.76-15.60L335.76-15.60Q335.76-10.74 333.81-6.99L333.81-6.99L333.81-6.99Q331.86-3.24 328.29-1.17L328.29-1.17L328.29-1.17Q324.72 0.90 320.10 0.90L320.10 0.90ZM320.04-6.42L320.04-6.42Q323.28-6.42 325.23-8.91L325.23-8.91L325.23-8.91Q327.18-11.40 327.18-15.48L327.18-15.48L327.18-15.48Q327.18-19.56 325.23-21.99L325.23-21.99L325.23-21.99Q323.28-24.42 320.04-24.42L320.04-24.42L320.04-24.42Q316.80-24.42 314.85-21.99L314.85-21.99L314.85-21.99Q312.90-19.56 312.90-15.48L312.90-15.48L312.90-15.48Q312.90-11.40 314.85-8.91L314.85-8.91L314.85-8.91Q316.80-6.42 320.04-6.42L320.04-6.42ZM339.48 0L339.48-7.26L344.94-7.26L344.94-36.60L339.78-36.60L339.78-43.80L353.40-43.80L353.40-7.26L358.86-7.26L358.86 0L339.48 0ZM368.04-36L368.04-43.80L377.70-43.80L377.70-36L368.04-36ZM363.36 0L363.36-7.26L369.12-7.26L369.12-23.64L363.36-23.64L363.36-30.90L377.58-30.90L377.58-7.26L382.74-7.26L382.74 0L363.36 0ZM402 0.90L402 0.90Q397.32 0.90 393.75-1.14L393.75-1.14L393.75-1.14Q390.18-3.18 388.20-6.87L388.20-6.87L388.20-6.87Q386.22-10.56 386.22-15.42L386.22-15.42L386.22-15.42Q386.22-20.28 388.17-23.97L388.17-23.97L388.17-23.97Q390.12-27.66 393.69-29.70L393.69-29.70L393.69-29.70Q397.26-31.74 401.94-31.74L401.94-31.74L401.94-31.74Q406.62-31.74 410.19-29.73L410.19-29.73L410.19-29.73Q413.76-27.72 415.71-24.06L415.71-24.06L415.71-24.06Q417.66-20.40 417.66-15.60L417.66-15.60L417.66-15.60Q417.66-10.74 415.71-6.99L415.71-6.99L415.71-6.99Q413.76-3.24 410.19-1.17L410.19-1.17L410.19-1.17Q406.62 0.90 402 0.90L402 0.90ZM401.94-6.42L401.94-6.42Q405.18-6.42 407.13-8.91L407.13-8.91L407.13-8.91Q409.08-11.40 409.08-15.48L409.08-15.48L409.08-15.48Q409.08-19.56 407.13-21.99L407.13-21.99L407.13-21.99Q405.18-24.42 401.94-24.42L401.94-24.42L401.94-24.42Q398.70-24.42 396.75-21.99L396.75-21.99L396.75-21.99Q394.80-19.56 394.80-15.48L394.80-15.48L394.80-15.48Q394.80-11.40 396.75-8.91L396.75-8.91L396.75-8.91Q398.70-6.42 401.94-6.42L401.94-6.42Z"
            fill="#fff"></path></g
        ></g
      ><style>
        text {
          font-family: Arial Black;
          dominant-baseline: central;
          text-anchor: middle;
        }
      </style></svg
    >
  </div>
  <div class="px-8 2xl:max-w-7xl mx-auto pb-12">
    <div class="mt-6 space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 justify-between items-center"
        data-aos="fade-up"
        data-aos-duration="1500"
      >
        <div class="flex gap-3 items-center">
          <h3 class="text-secondary text-xs font-medium">
            <span>MIS engineering</span>
            <span class="font-bold">Frontend dev</span>
            <span class="italic">Entrepreneur</span>
          </h3>
          <span class="h-auto border-secondary border"></span>
          <h3 class="text-secondary text-xs font-medium">
            <span class="font-bold">Co-founder |</span>
            <a
              class="hover:text-black hover:font-semibold"
              href="https://h8k.software">H8k Software</a
            >
            <a
              class="hover:text-black hover:font-semibold italic"
              href="https://hackatomik.com">(Hackatomik)</a
            >
            <span class="font-semibold">|</span>
            <a
              class="hover:text-black hover:font-semibold"
              href="https://parkincryptos.com">Parkin Crypto's</a
            >
          </h3>
        </div>
        <div>
          <ul class="items-center inline-flex gap-3 relative">
            <li>
              <a
                href="https://github.com/tapilew"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M12 2C6.475 2 2 6.475 2 12a9.994 9.994 0 0 0 6.838 9.488c.5.087.687-.213.687-.476 0-.237-.013-1.024-.013-1.862-2.512.463-3.162-.612-3.362-1.175-.113-.288-.6-1.175-1.025-1.413-.35-.187-.85-.65-.013-.662.788-.013 1.35.725 1.538 1.025.9 1.512 2.338 1.087 2.912.825.088-.65.35-1.087.638-1.337-2.225-.25-4.55-1.113-4.55-4.938 0-1.088.387-1.987 1.025-2.688-.1-.25-.45-1.275.1-2.65 0 0 .837-.262 2.75 1.026a9.28 9.28 0 0 1 2.5-.338c.85 0 1.7.112 2.5.337 1.912-1.3 2.75-1.024 2.75-1.024.55 1.375.2 2.4.1 2.65.637.7 1.025 1.587 1.025 2.687 0 3.838-2.337 4.688-4.562 4.938.362.312.675.912.675 1.85 0 1.337-.013 2.412-.013 2.75 0 .262.188.574.688.474A10.016 10.016 0 0 0 22 12c0-5.525-4.475-10-10-10z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li><li>
              <a
                href="https://x.com/tapilew"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M15.3 5.55a2.9 2.9 0 0 0-2.9 2.847l-.028 1.575a.6.6 0 0 1-.68.583l-1.561-.212c-2.054-.28-4.022-1.226-5.91-2.799-.598 3.31.57 5.603 3.383 7.372l1.747 1.098a.6.6 0 0 1 .034.993L7.793 18.17c.947.059 1.846.017 2.592-.131 4.718-.942 7.855-4.492 7.855-10.348 0-.478-1.012-2.141-2.94-2.141zm-4.9 2.81a4.9 4.9 0 0 1 8.385-3.355c.711-.005 1.316.175 2.669-.645-.335 1.64-.5 2.352-1.214 3.331 0 7.642-4.697 11.358-9.463 12.309-3.268.652-8.02-.419-9.382-1.841.694-.054 3.514-.357 5.144-1.55C5.16 15.7-.329 12.47 3.278 3.786c1.693 1.977 3.41 3.323 5.15 4.037 1.158.475 1.442.465 1.973.538z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li><li>
              <a
                href="https://linkedin.com/in/tapilew"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li>
          </ul>
        </div>
      </div>
      <div
        class="h-1.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
      </div>
      <div class="h-3 bg-secondary" data-aos="fade-up" data-aos-duration="2500">
      </div>
      <div class="h-6 bg-secondary" data-aos="fade-up" data-aos-duration="3000">
      </div>
      <div
        class="h-12 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
      </div>
      <div
        class="h-24 bg-secondary flex items-end p-4"
        data-aos="fade-up"
        data-aos-duration="3000"
        data-aos-delay="150"
      >
      </div>
      <div class="flex w-full">
        <span class="text-xs font-medium text-secondary flex">
          <span>Luis Tapia&nbsp;</span>
          <span class="italic">@tapilew's&nbsp;</span>
          <span class="font-bold">Developer Portfolio&nbsp;</span>
          <span>- check out Tapi..'s&nbsp;</span>
          <a
            class="hover:text-black duration-200 font-bold"
            href="https://blog.tapi.ac/"
          >
            blog</a
          >
          <span>-</span>
          <a
            class="hover:text-black duration-200 font-bold"
            href="https://tapi.ac">website</a
          >
        </span>
        <span class="text-xs font-medium text-secondary flex ml-auto"
          >Repo on &nbsp;<a
            class="hover:text-black text-secondary duration-200 font-bold"
            href="https://github.com/tapilew/devfolio">GitHub</a
          ></span
        >
      </div>
    </div>
  </div>
</section>
