---
import { otherprojects } from "../../data/otherprojects.json";
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6">
      <p
        class="text-base lg:col-start-2 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        I'm a <a
          class="hover:text-black font-semibold"
          href="https://en.wikipedia.org/wiki/Front-end_web_development"
          target="_blank">frontend</a
        > developer, <a
          class="hover:text-black font-semibold"
          href="https://en.wikipedia.org/wiki/Management_information_system"
          target="_blank">MIS Engineering</a
        >
        student at <a
          class="hover:text-black italic"
          href="https://utp.ac.pa"
          target="_blank">Universidad Tecnológica de Panamá</a
        > (<a
          class="hover:text-black"
          href="https://fisc.utp.ac.pa"
          target="_blank"
        >
          <span class="italic">FISC</span> faculty</a
        >), entrepreneur, and aspiring <a
          class="hover:text-black font-semibold"
          href="https://en.wikipedia.org/wiki/Blockchain"
          target="_blank">blockchain</a
        > developer. I'm a co-founder at <mark>
          <a
            class="hover:text-black font-semibold italic"
            href="https://h8k.software">H8k Software</a
          ></mark
        >, which builds custom solutions for restaurants, bars and cafés,
        including websites, menus, and business apps. Additionally, with <mark
          ><a
            class="hover:text-black font-semibold italic"
            href="https://hackatomik.com">Hackatomik (H8k)</a
          ></mark
        > , we offer <a
          class="hover:text-black font-semibold"
          href="https://en.wikipedia.org/wiki/Open-source_software"
          target="_blank">open-source</a
        > study resources and <a
          class="hover:text-black font-semibold"
          href="https://en.wikipedia.org/wiki/Research"
          target="_blank">research</a
        > for <a
          class="hover:text-black font-semibold"
          href="https://en.wikipedia.org/wiki/University"
          target="_blank">university</a
        > students, especially in
        <a
          class="hover:text-black font-semibold"
          href="https://en.wikipedia.org/wiki/Engineering"
          target="_blank">engineering</a
        > and <a
          class="hover:text-black font-semibold"
          href="https://en.wikipedia.org/wiki/Computer_science"
          target="_blank">computer science.</a
        >
      </p>
      <p
        class="text-base lg:col-start-2 leading-relaxed underline underline-offset-4"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        You can reach out via <a
          class="hover:text-black font-semibold"
          href="https://x.com/tapilew">[X/Twitter]</a
        > and <a
          class="hover:text-black font-semibold"
          href="https://linkedin.com/in/tapilew">[LinkedIn]</a
        > to know more about what I'm working on.
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        I'm also a co-founder at <mark
          ><a
            class="hover:text-black font-semibold italic"
            href="https://parkincryptos.com">Parkin Crypto's</a
          ></mark
        > , where I support a community that brings together tech enthusiasts, seasoned
        crypto users, and newcomers. We host meetups and networking events to educate
        and onboard people into the <a
          class="hover:text-black font-semibold"
          href="https://en.wikipedia.org/wiki/Web3"
          target="_blank">Web3</a
        > ecosystem, promoting freedom and autonomy through <a
          class="hover:text-black font-semibold"
          href="https://en.wikipedia.org/wiki/Decentralization"
          target="_blank">decentralization.</a
        >
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        I build <a
          class="hover:text-black font-semibold"
          href="https://en.wikipedia.org/wiki/World_Wide_Web"
          target="_blank">web</a
        > experiences to satisfy the most demanding users and lifelong learners alike.
        With <a
          class="hover:text-black font-semibold"
          href="https://en.wikipedia.org/wiki/Technology"
          target="_blank">technology</a
        > , passion, and human connection, we can shape the economy and society for
        the better. <a class="hover:text-black font-bold" href="#projects"
          >Check out my projects</a
        > and open-source software to get a glimpse of my skills and development
        experience.
      </p>
    </div>
  </div>
</section>
