---
// Define testimonials/opinions data
const humanOpinions = [
  {
    name: "Johel H. Batista C.",
    role: "President at Fundación Ayudinga",
    opinion:
      "I wholeheartedly recommend Luis, who has consistently demonstrated a unique ability to question and think critically, setting him apart from many of his peers. From the outset, Luis showcased an analytical mindset, always eager to dive deep into topics and challenge the status quo. His contributions to our curriculum's development were insightful and had a profound impact, influencing the learning trajectory of many of his classmates.",
  },
  {
    name: "Víctor López-Cabrera, M.Sc.",
    role: "Professor at Universidad Tecnológica de Panamá",
    opinion:
      "Luis is a brilliant mind. A person who is constantly looking for opportunities to innovate and create.",
  },
];
---

<section class="bg-primary" id="testimonials">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-base font-medium">
        <span>human</span>
        <span class="font-bold">opinions</span>
      </h3>
      <div class="h-1.5 bg-secondary"></div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6 pt-2 mt-2">
      {
        humanOpinions.map((opinion) => (
          <div>
            <p class="italic text-2xl block font-bold">
              {opinion.name} {opinion.role}
            </p>
            <p class="text-sm leading-relaxed mt-6">{opinion.opinion}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
